
##owner = Akhilesh ML

# Core Framework & Server
fastapi[standard]
uvicorn


# Data Validation
pydantic~=2.10.6

# Database
sqlalchemy
asyncpg                 # Async PostgreSQL driver
databases               # Optional: async DB toolkit
psycopg2-binary         # Optional: sync PostgreSQL driver (remove if only using asyncpg)


# Timezone Support
pytz

# Optional Utilities
python-multipart        # For file uploads
python-dotenv           # For .env config loading

#testing 
pytest
requests
pytest-html 


python-jose[cryptography]


passlib[bcrypt]==1.7.5
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
pyjwt==2.8.0
email-validator==2.3.0
################################################################################
